*{
 margin:0;
 padding:0;
 /* box-sizing: border-box;  já é padrão da table*/
}
/*  
html,body{
	height: 100%;
}  */

.table{
	display: table;
	width: 900px;
	margin: 0 auto;
	border-collapse: collapse; /*aqui tem a colisão*/

}

.table-row{
	display: table-row;
}

.table-cell{
	/*fazendo alterações*/
	height: 400px;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	border: 1px solid black; /*por padrão nao colidir*/
	display: table-cell;
}
