*{
 margin:0;
 padding:0;
 /* box-sizing: border-box;  já é padrão da table*/
}
/*  
html,body{
	height: 100%;
}  */

main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside{
	/* order: 2; */
	width: 300px;
	background: #ccc;
	padding: 90px 20px;

}

article{
	/* order: 1; */
	width: 800px;
	padding: 30px;
	background: gray;
	/* height: 700px; */
}