*{
 margin:0;
 padding:0;
 box-sizing: border-box;
}
/* 
html,body{
	height: 100%;
} */

header.principal{
	width: 100%;
	padding: 20px 0;
	background-color:  rgb(167, 161, 161);

}

header.principal > nav{
	text-align: center;
}
header.principal > nav > ul{
	list-style: none;
}
header.principal > nav > ul > li{
	display: inline-block;
	margin: 0 25px;
}